# Core libraries
numpy
opencv-python-headless
scikit_image
pillow
tqdm

# PyTorch (CUDA 12.1 for your GPU)
torch==2.2.0+cu121
torchvision==0.17.1+cu121
torchaudio==2.2.0+cu121
-f https://download.pytorch.org/whl/torch_stable.html

# Custom
natsort
rich
